.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -25px;
}

.logo {
    width: 330px;
    height: auto;
    margin: 0;
}

.name {
    color: black;
    font-size: 36px;
    font-weight: 200;
    margin: 0;
    margin-bottom: 15px;
}

.paragraph {
    font-size: 16px;
    color: #666;
    text-align: center;
    font-weight: 400;
    max-width: 750px;
    margin-bottom: 30px;
}

.create-tree-btn {
    text-decoration: none;
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
    transition: 0.3s;
    width: 175px;
    text-align: center;
    transition: .5s;
}

.create-tree-btn:hover {
    background-color: #000;
    color: #fff;
}

.button-container {
    display: flex;
    gap: 20px;
}

::selection {
    color: white;
    background: black;
}

.reg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
}

.reg-logo {
    width: 110px;
    height: auto;
    margin: 0;
}

.steps {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 58px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.step-2-container {
    display: flex;
    gap: 20px;
}

.steps-2 {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px 36px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.steps-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.steps-ico {
    margin-left: 10px;
    margin-right: 10px;
}

.black {
    color: black;
}

.form-container {
    display: flex;
    gap: 30px;
}

.form {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px 25px 40px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form h3 {
    font-weight: 400;
}

.gender {
    margin-top: 10px;
    margin-bottom: 10px;
}

.men {
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .3s;
}

.men:hover,
.women:hover {
    color: black;
}

.women {
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .3s;
}

.people-input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px;
}

.last-name {
    width: 252.5px;
}

.first-name,
.middle-name {
    width: 112.5px;
}

.b-day,
.b-year {
    width: 44.5px;
}

.b-month {
    width: 120px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.next-btn {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 13px;
    margin-top: 30px;
    padding: 5px 30px;
    cursor: pointer;
}

.previous-btn {
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-decoration: none;
    border-radius: 3px;
    font-size: 13px;
    margin-top: 30px;
    padding: 5px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.deceased {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.deceased input[type="checkbox"] {
    margin-right: 10px;
    accent-color: gray;
}

.deceased label {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.death-date {
    margin-top: 15px;
}

.d-day,
.d-year {
    width: 44.5px;
}

.d-month {
    width: 120px;
}

.death-date .dmy input {
    margin-right: 10px;
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 44%;
    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.3);
    transition: .3s all;
}

.password-toggle:hover {
    color: rgba(0, 0, 0, 0.7);
}

.input-error {
    display: flex;
    font-size: 12px;
    justify-content: center;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: -30px;
    color: red;
}

.hidden {
    display: none;
}

.red {
    border: 1px solid #F25757;
    color: #F25757;
}

.red-text {
    color: #F25757;
}

.red::placeholder {
    color: #F25757;
    opacity: .7;
}

::placeholder {
    opacity: .7;
}

::selection {
    color: white;
    background: black;
}